<div class="container bench">
  <h2> Generate Topping </h2>
  <%= form_for :topping, url: admin_toppings_path, remote:true do |f|%>
  <%# [:admin, @category.products] %>
    <div class="form-group">
      <label> Name </label>
      <%= f.text_field :name, placeholder:"Enter name product", class:"form-control",required: 'true' %>
    </div>
    <div class="form-group">
      <label>Price</label>
      <%= f.text_field :price , placeholder:"Enter price product", class:"form-control" ,required: 'true'%>
    </div>
    <div class="form-group">
      <label>Type</label>
      <%= f.select :kind, Topping.kinds.keys, {} , class: 'form-control'%>
    </div>
    <%= f.submit "Create Topping", class: "btn btn-primary" %>
  <% end %>
</div>
<!-- output -->
<div class="card">
  <div class="card-header">
    <h2 style="text-align: center;">Toppings</h2>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="add-topping">  
        <% @toppings.each do |topping| %>
          <%= render 'topping', topping: topping %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>