<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 background">
  <!-- Brand Logo -->
  <%= link_to admin_home_path, class:"brand-link" do%>
    <%= image_tag "admin.png", class:"brand-image img-circle elevation-3" , style:"opacity: .8"%>
    <span class="brand-text font-weight-light">Admin System</span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
         <%= image_tag "admin-1.png", class:"img-circle elevation-2"%>
      </div>
      <div class="info">
        <%= link_to "FAST FOOD",admin_home_path, class:"d-block logo" %>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active fix">
            <i class="nav-icon fas fa-tachometer-alt change"></i>
            <p class="change">
              Starter Pages
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link active">
                <i class="far fa-circle nav-icon change"></i>
                <p class="change">Active Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon change"></i>
                <p class="change">Inactive Page</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th change"></i>
            <p class="change">
              Simple Link
              <span class="right badge badge-danger change">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie change"></i>
              <p class="change">
                Charts
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">ChartJS</p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-table change"></i>
              <p class="change">
                Tables
                <i class="fas fa-angle-left right change"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to admin_categories_path, class:"nav-link" do%>
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Category Tables</p>
                <% end %>
              </li>
              <%# <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">List Categories</p>
                  <ul class="nav nav-treeview">
                  </ul>
                </a>
              </li> %>
              <li class="nav-item">
                <%= link_to admin_products_path, class:"nav-link" do%>
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">List Products</p>
                <% end %>
              </li> 
              <li class="nav-item">
                <%= link_to admin_toppings_path, class:"nav-link" do%>
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">List Toppings</p>
                <% end %>
              </li> 
            </ul>
          </li>
          <li class="nav-header">EXAMPLES</li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-envelope change"></i>
              <p class="change">
                Mailbox
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Inbox</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Compose</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Read</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book change"></i>
              <p class="change">
                Pages
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Invoice</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Profile</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">E-commerce</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Projects</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Project Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Project Edit</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Project Detail</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Contacts</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square change"></i>
              <p class="change">
                Extras
                <i class="fas fa-angle-left right "></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Register</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Forgot Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Language Menu</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Error 404</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon change"></i>
                  <p class="change">Error 500</p>
                </a>
              </li>
            </ul>
          </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside