
<!DOCTYPE html>
<html>
  <head>
    <title>ABC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://media.istockphoto.com/vectors/eat-food-logo-food-point-background-vector-image-vector-id981368640" rel="icon" type="image/x-icon" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src = "https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" defer ></script>
  </head>
    <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
        <div id="admin">
          <div class="wrapper">
            <%= render "base/header" %>
            <%= render "base/sidebar" %>
              <!-- Content Wrapper. Contains page content -->
              <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                <section class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-6">
                        <h1>DataTables</h1>
                      </div>
                      <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active">DataTables</li>
                        </ol>
                      </div>
                    </div>
                  </div><!-- /.container-fluid -->
                </section>
              </div>
            </div>
          </div>
        </div>
      <%= yield %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js" integrity="sha512-soEBKBfInJjy3xOUkhkhuJFD4fTE1MW9av3ktrcdU3j8Fa6pNtk5IhY9txY3UNVCbIdonyicOoAOGlWKXrONKA==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js" integrity="sha512-kIRDPWIBoKpF79HJv3xBPQgZKjhxzqMGG2N68svvId45w9vp/hTXoR7cDERYhVEhLJTuSGb/c3+ZHgeQfLm0Hg==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>
    </body>
</html>