<div class="container">
  <%= form_for @order do |f| %>
    <div class="row">
      <div class="col-sm-9">
          <div class="col-sm-12">
            <h4>1. Thanh toán bằng xu </h4>
          </div>
          <div class="row payment-coin">
            <div class="col-sm-12">
            </div>
          </div>
          <div class="col-sm-12">
            <h4>2. Chọn hình thức thanh toán </h4>
          </div>
          <div class="row display-payment">
            <div class="col-md-4">
              <div class="form-group" style="margin-top: 1em">
                <label>Option payment</label>
                <%= f.select :payments, Order.payments.keys ,{}, class: 'form-control'%>
              </div>
            </div>
            <div class="col-md-8">
              <ul class="atm">
                <li class="payment-online">
                  <%= image_tag 'BIDV.jpg', style: 'width:5em;' %>
                </li>
                <li class="payment-online">
                  <%= image_tag 'VCB.jpg', style: 'width:5em;' %>
                </li>
                <li class="payment-online">
                  <%= image_tag 'SCB.jpg', style: 'width:5em;' %>
                </li>
                <li class="payment-online">
                  <%= image_tag 'VTB.jpg', style: 'width:5em;' %>
                </li>
                <li class="payment-online">
                  <%= image_tag 'VCB.jpg', style: 'width:5em;' %>
                </li>
             </ul>
            </div>
          </div>
          <div class="order-now" style="margin-top: 2em;">
            <%= f.hidden_field :cart_id, value: current_cart.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "ORDER NOW", class:"btn btn-danger"%>
            <p>(Xin vui lòng kiểm tra lại đơn hàng trước khi Đặt Mua)</p>
          </div>
        </div>
        <div class="col-sm-3 information">
          <div class="information-user">
            <div class="tital"> 
              <h5> Address </h5>
              <hr class="public-1">
              <div class="address">
                <b><%= current_user.name%></b>
                <%= f.text_field :address , placeholder:"Enter adress", 
                class:"form-control" , :required => true%>
                <%= f.text_field :phone_number , placeholder:"Enter phone number", 
                class:"form-control", style:"margin-top:5px;" , :required => true%>
                <span></span>
              </div>
            </div>
          </div>
        <div class="order-sumary">
          <div class="tital">
            <h5>
              Cart(<span><%=current_cart.products.count%> products</span>)
              <%=link_to "Edit", carts_path, class:"btn btn-outline-dark" %>
            </h5>
            <hr class="public-1">
          </div>
          <div class="cart">
            <div class="row public">
              <% @cart_items.each do |cart_item| %>
                <div class="col-md-9">
                    <b><%= cart_item.quantity %>x <span><%=cart_item.product.name_product%></span></b>
                </div>
                <div class="col-md-3">
                  <p>$<%=cart_item.total_product%> </p>
                </div>
                <hr class="public-1">
              <% end %>
            </div>
            <hr class="public-1">
            <div class="row public">
              <div class="col-md-9">
                <b>Provisional total:</b>
                <p>Transport costs: </p>
              </div>
              <div class="col-md-3">
                  <p>$<%= current_cart.total_amount%></p>
                  <p>$0</p>
              </div>
            </div>
            <hr class="public-1">
            <div class="row public">
              <div class="col-md-8">
                <b>Total order:</b>
              </div>
              <div class="col-md-4">
                <h4 style="color:red;">$<%= current_cart.total_amount %>.0</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function(){
  $("#order_payments_ship_code").click(function(){
    $(".atm").toggle(1000);
    });
  });
</script>