<% if @cart_items.blank? %>
    <h3 style="text-align: center;">You haven't product in cart </h3>
<% else %>
  <div class="container">
    <h2 style="text-align: center; margin-bottom: 10px;">My Cart</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Product name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td> <%= image_tag(cart_item.product.images.first)%> </td>
          <td>
            <%= link_to cart_item.product.name_product, category_product_path(cart_item.product.category, cart_item.product) %>
          </td>
          <td class="buying">
            <div class="create-cart">
              <%= number_field_tag :quantity, cart_item.quantity , in: 1..99, step:1, 
               class:"form-control quantity", id:"cart_item_quantity-#{cart_item.id}"%>
            </div>
            <script>
              $("#cart_item_quantity-"+ <%=cart_item.id%>).change(function (){
                var quantity = $(this).val();
                $.ajax({
                  type: "patch",
                  url: "<%= cart_item_path(cart_item) %>",
                  data: {cart_item: {quantity: quantity}} ,
                  dataType: "script",
                })
              })
            </script>
          </td>
          <td id="cart-price-<%=cart_item.id%>" data-pricePr="<%=cart_item.product.price%>">
            $<%= cart_item.get_total_price %>
          </td>
          <td>
          <%= link_to cart_item_path(cart_item.id), remote:true, method: :delete, id:"delete-cart-item" do %>
            <%= image_tag 'remove.png',style:'width:20px'%>
          <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <hr/>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h4> Total the Bill: </h4> 
        </div>
        <div class="col-md-3">
          <h5 id="cart-total-amount">$<%= current_cart.caculate_total_amount.sum%></h5>
          <div class="order">
            <%= form_for current_cart, url: user_addresses_path(current_user.id), method: :get, class:"form-group" do |f| %>
              <%= f.hidden_field :cart_id, value: current_cart.id %>
              <%= f.submit "Go to order", class:"btn btn-origin" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>  
