<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Địa chỉ giao hàng</h3>
      <b>Chọn địa chỉ có săn bên dưới:</b>
    </div>
    <div class="row add-address">
      <% @addresses.each do |address|%>
        <%= render 'address', address: address %>
      <% end %> 
    </div>  
    <p>Do you want to add an other address?
      <b>
        <span id="create-address">Add new address</span>
      </b>
    </p>
  </div>
  <div class="new-address">
    <div class="form-container">
      <%= form_for current_user.addresses.build, url: user_addresses_path(current_user.id), html: {class: 'form-adress' }, remote:true do |f|%>
        <div class="form-inline">
          <label  class="mr-sm-2">Full Name:</label>
          <%= f.text_field :user_name, class:"form-control mb-2 mr-sm-2 input-1", placeholder:"Enter name"%>
        </div>
        <div class="form-inline">
          <label  class="mr-sm-2">Phone number:</label>
          <%= f.text_field :numberphone, class:"form-control mb-2 mr-sm-2 input-2",placeholder:"Enter phone number"%>
        </div>
        <div class="form-inline">
          <label class="mr-sm-2">Province</label>
          <%= f.text_field :province, class:"form-control mb-2 mr-sm-2 input-3",placeholder:"Enter province"%>
        </div>
        <div class="form-inline">
        <label class="mr-sm-2">Wards</label>
          <%= f.text_field :wards, class:"form-control mb-2 mr-sm-2 input-4",placeholder:"Enter wards"%>
        </div>
        <div class="form-inline">
        <label class="mr-sm-2">District</label>
          <%= f.text_field :district, class:"form-control mb-2 mr-sm-2 input-5",placeholder:"Enter district"%>
        </div>
        <div class="form-inline">
          <label class="mr-sm-2">Stress</label>
          <%= f.text_field :stress, class:"form-control mb-2 mr-sm-2 input-6",placeholder:"Enter stress"%>
        </div>
        <div class="form-inline">
          <%= f.submit "Add address", class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#create-address").click(function() { 
      $(".new-address").show();
    });
  });
</script>