<div class="container bench">
    <h2> Edit Product </h2>
    <%= form_for @product, url: admin_category_product_path(@category)  do |f| %>
        <%# [:admin, @category.products] %>
        <div class="form-group">
            <label>Name Product</label>
            <%= f.text_field :name_product , placeholder:"Enter name product", class:"form-control",required: 'true' %>
        </div>
        <div class="form-group">
            <label>Information</label>
            <%= f.text_area :information ,  placeholder:"Enter desciption", class:"form-control",required: 'true'%>
        </div>
        <div class="form-group">
            <label>Old Price</label>
            <%= f.text_field :old_price , placeholder:"Enter price product", class:"form-control"%>
        </div>
        <div class="form-group">
            <label>Price</label>
            <%= f.text_field :price , placeholder:"Enter price product", class:"form-control" ,required: 'true'%>
        </div>
        <div class="form-group">
            <label>Type</label>
            <%= f.select :kind, Product.kinds.keys , { class: 'form-control'}%>
        </div>
        <%= f.hidden_field :category_id, value: @category.id %>
        <h5>Add images for product</h5>
        <div class="custom-file">
            <%= f.file_field :images , multiple: true %>
        </div>
        <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
</div>