<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-8">
      <div class="show-image">
        <h2><%= @product.name_product %></h2>
        <% @product.images.each do |image| %>
          <%= image_tag image, class:"set-size-for-product" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 col-4">
      <div class="show-infor">   
        <h3><%= @product.information %></h3>
        <h3><%= @product.old_price %></h3>
        <h3><%= @product.price %></h3>
        <h3><%= @product.kind%></h3>
      </div>
    </div>
  </div>
</div>