<section class="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="left-title-text">
          <h3>Product detail View</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-title-text">  
          <ul>
            <li class="breadcrumb-item">
              <%= link_to "Home", root_url %>
            </li>
            <li class="breadcrumb-item">
              <%= link_to "All Meals", products_path %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Meal Detail View</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="all-partners">      
  <div class="container">   
    <div class="row">         
      <div class="col-lg-8 col-md-8">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @product.images.each_with_index do |image, index| %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" 
             class="<%= index == 0 ? 'active' : '' %>">
           </li>
           <% end %>
         </ol>
         <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag @product.images.first, class:"fix-size-for-carousel" %>
          </div>
          <% @product.images.drop(1).each do |image| %>
          <div class="carousel-item">
            <%= image_tag image, class:"fix-size-for-carousel" %>
          </div>
          <% end %>
        </div>
        <div class="resto-meal-dt">
          <div class="resto-detail">
            <div class="resto-picy">
              <%= link_to category_path(@category) do %>
              <%= image_tag @category.image , class:"fix-size-category" %>
              <% end %>
            </div>
          </div> 
          <div class="name-location">
            <%= link_to category_path(@category) do %>
            <h1><%= @category.name %></h1>
            <% end %>
            <div class="right-side-btns">
          <div class="bagde-dt">
            <div class="partner-badge">
              Rating
            </div>
          </div>
          <div class="resto-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <span>4.5/5</span>
          </div>
        </div>
          </div>
        </div>
        <div class="published-like-comments">
          <div class="published-time">
            <h4>Feedback</h4>
          </div>
          <div class="like-comments">
            <ul>
              <li>
                <span class="views" data-toggle="tooltip" data-placement="top" title="Likes">
                  <i class="fas fa-heart"></i>
                  <ins>362</ins>
                </span>
              </li>
              <li>
                <span class="views" data-toggle="tooltip" data-placement="top" title="Comments">
                  <i class="fas fa-comment-alt"></i>
                  <ins>05</ins>
                </span>
              </li>
              <li>
                <div class="btn-group social-share">
                  <span class="dropdown-toggle-no-caret views" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="main" title="share">
                    <i class="fas fa-share-alt"></i>
                    <ins>Share</ins>
                  </span>
                </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="all-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <%= link_to product_comments_path(@product), class:"nav-link active" do %>
                  <%= @product.comments.count%> Comments 
                <% end %>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" role="tabpanel" id="comments">
                <div class="comment-post">
                  <div class="post-items">
                    <div class="img-dp">
                      <i class="fas fa-user"></i>
                    </div>
                    <%= form_for [@product,@comment], remote:true do |f|%>
                      <%= f.text_field :content, class:"post-input", placeholder:"Write a comment"%>
                      <%= f.hidden_field :product_id, value: @product.id %>
                      <% if signed_in?%>
                        <%= f.hidden_field :user_id, value: @user_comment.id %>
                      <% end %>
                      <%= f.submit "Post comment", class:"submit-btn btn-link"%>
                    <% end %>
                  </div>
                </div>
                <% @product.comments.each do |comment|%>
                  <%= render 'comment', comment: comment  %>
                <% end %>   
              </div>      
            </div>  
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="right-side">
          <div class="new-heading t-bottom">
            <h1><%= @product.name_product%></h1>
          </div>
          <div class="about-meal">
            <h4> Description</h4>
            <p><%= @product.information%></p>
          </div>
          <div class="price">
            <% if @product.old_price.present? %>
              <strike>
                <span>$<%= @product.old_price%>.00</span>  
              </strike>
            <% end %>
            <span><h4>Price: $<%= @product.price%>.00</h4></span>
          </div>
          <div class="dt-detail">
            <ul>
              <li>
                <div class="delivery">
                  <i class="fas fa-shopping-cart"></i>Delivery Free : Free
                </div>
              </li>
              <li>
                <div class="time">
                  <i class="far fa-clock"></i>Delivery Time : 30 Min
                </div>
              </li>
            </ul>
          </div>
          <div class="Extra-option">
            <h4> Extras - <ins>(Please select any option)</ins></h4>
            <div class="non-veg">
              <h6>Non Vegetarian</h6>
              <ul class="food-bootom">
                <li>
                  <p class="food-left">
                    <input type="checkbox" id="c1" name="cb">
                    <label for="c1">Non Veg Tikki</label>
                  </p>
                  <span>$2.00</span>
                </li>
              </ul>
            </div>
            <div class="non-veg j-top">
              <h6>Vegetarian</h6>
              <ul class="food-bootom">
                <li>
                  <p class="food-left">
                    <input type="checkbox" id="c2" name="cb">
                    <label for="c2">Double Allu Tikki</label>
                  </p>
                  <span>$2.00</span>
                </li>
                <li>
                  <p class="food-left">
                  <input type="checkbox" id="c3" name="cb">
                      <label for="c3">Double Cheese</label>
                  </p>
                  <span>$2.00</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>          
