<!--footer start-->
<footer class="footer">
  <div class="subscribe-now line">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-md-6">
          <div class="subscribe-newsletter">
            <div class="sub-text">
              <p><%= t(".sub_text")%></p>
            </div>
            <form>
              <input class="input-subscribe" name="newsletter" type="text" placeholder= " <%= t(".sub_text1")%> ">
              <div class="subscribe-btn">
                <div class="s-n-btn">
                  <button class="newsletter-btn btn-link"><%= t(".new_letter")%></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="language">
            <form method="post" enctype="multipart/form-data" id="form-language">
              <div class="btn-group open">
                <button class="lang-btn l-btn-link dropdown-toggle-no-caret" data-toggle="dropdown" aria-expanded="true">
                  <i class="fas fa-globe"></i><span class="hidden-xs"><%= t(".language")%></span><i class="fas fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "English", locale:"en" %></li>
                  <li><%= link_to "Vietnamese", locale:"vi" %></li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="img-title">
          <%= link_to root_path do %>
            <%= image_tag 'logo1.jpg',class:"logo"  %>
          <% end %>
        </div>
        <p><%= t(".text")%> </p>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4><%= t(".title")%></h4>
          <ul class="links">
            <li><a href="about.html"><%= t(".about")%></a></li>
            <li><a href="#"><%= t(".about1")%></a></li>
            <li><a href="our_blog.html"><%= t(".about2")%></a></li>
            <li><a href="#"><%= t(".about3")%></a></li>
            <li><a href="#"><%= t(".about4")%></a></li>
            <li><a href="contact.html"><%= t(".about5")%></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4><%= t(".title2")%></h4>
          <ul class="links">
            <li><a href="add_restaurant.html"><%= t(".restaurant")%></a></li>
            <li><a href="#"><%= t(".guild")%></a></li>
            <li><a href="#"><%= t(".Ads")%></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <div class="link-title">
          <h4><%= t(".Partner")%></h4>
          <ul class="links">
            <li><a href="add_restaurant.html"><%= t(".Partner2")%></a></li>
          </ul>
          <div class="social-btns">
            <a href="#">
              <div class="social-btn soc-btn"><i class="fab fa-facebook-f"></i></div>
            </a>
            <a href="#">
              <div class="social-btn soc-btn"><i class="fab fa-twitter"></i></div>
            </a>
            <a href="#">
              <div class="social-btn soc-btn"><i class="fab fa-instagram"></i></div>
            </a>
            <a href="#">
              <div class="social-btn soc-btn"><i class="fab fa-linkedin-in"></i></div>
            </a>
            <a href="#">
              <div class="social-btn soc-btn"><i class="fab fa-youtube"></i></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="privacy-cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="privacy-terms">
            <ul>
              <li><a href="#"><%= t(".Pr")%></a></li>
              <li><a href="#"><%= t(".Pr1")%></a></a></li>
              <li><a href="#"><%= t(".Pr2")%></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="cards">
            <%= image_tag 'cards.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="copyright-text">
            <i class="far fa-copyright"></i><%= t(".Pr3")%><a href="index.html"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
    <!--footer end-->