<!DOCTYPE html>
<html>
  <head>
    <title>FoodAndDrink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%# link-title-image %>
    <link href="https://media.istockphoto.com/vectors/eat-food-logo-food-point-background-vector-image-vector-id981368640" rel="icon" type="image/x-icon" />
    <%# link $ datatables %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">  </head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src = "https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> 
    
  <body>
  <div>
  
    <section class="view-for-user">
      <%= render 'layouts/header'%>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </section> 
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
  </body>
</html>
